{{- define "main" -}}

<img src="img/nedry.gif" alt="Smiley face" width="418" height="458" class="gif-container">

<div class="gif-container">
  <h1> "Ah ah ah... you didn't say the magic word"</h1>
  <h2> Page not found :( please go back or look for a subject below:</h2>
</div>
  

<div class="universal-wrapper pt-3">
  
   {{/* Show search box if Academic's search engine is enabled. */}}
  {{ if eq site.Params.search.engine 1 }}
  <form class="d-flex align-items-center mb-3">
    <input name="q" type="search" class="form-control" placeholder="{{ i18n "search_placeholder" }}" autocomplete="off">
  </form>
  {{ end }}

  {{/* Suggest recently published pages to the user. */}}

  <p>{{ i18n "404_recommendations" }}</p>

  {{ $query := site.RegularPages }}
  {{ $count := len $query }}
  {{ if gt $count 0 }}
  <h2>{{ i18n "user_profile_latest" }}</h2>
  <ul>
    {{ range first 10 $query }}
      <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
    {{ end }}
  </ul>
  {{ end }}

</div>

{{- end -}}
